<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<%- include('./partials/nav') %>
</head>
<body>


        <% projects.forEach(function(item, index){ %>
         <div class="cards-container"> 
    <h1><a href="/projects/<%=item.id%>"><%=item.title %></a></h1>
    <img src="<%=item.image %>" alt="Game Image">
    <h2>Description</h2>
    <%=item.description %>
    <h2>Technologies</h2>
    <%=item.technologies %>
    <h2>Features</h2>
    <%=item.features %>
    <h2>Status</h2>
    <%=item.status %>
    <h2>Reflection</h2>
    <%=item.reflection %>
    </div>
    
    <% }) %>

</body>
</html>