<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projcet Show</title>
<%- include('./partials/nav') %>
</head>
<body>
 <% projects.forEach(function(item){ %>
    <div class="cards-container">
    <%if (item.id === ID){%>
    <h1><%=item.title %></h1>
    <img src="<%=item.image %>" alt="Game Image">
    <h2>Description</h2>
    <p><%=item.description %></p>
    <h2>Technologies:</h2>
    <%=item.technologies %>
    <h2>Features</h2>
    <%=item.features %>
    <h2>Status</h2>
    <%=item.status %>
    <h2>Reflection</h2>
    <%=item.reflection %>

     <%}%>
        </div>

    <% }) %>

    
</body>
</html>