<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<%- include('./partials/nav') %>
</head>
<body>


        <% projects.forEach(function(item, index){ %>
         <div class="cards-container"> 
    <h1><a href="/projects/<%=item.id%>"><%=item.title %></a></h1>
    <img src="<%=item.image %>" alt="Game Image">
    <p>Description: <%=item.description %></p>
    <p>Technologies: <%=item.technologies %></p>
    <p>Features: <%=item.features %></p>
    <p>Status: <%=item.status %></p>
    <p>Reflection: <%=item.reflection %></p>
    </div>
    
    <% }) %>

</body>
</html>