<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projcet Show</title>
<%- include('./partials/nav') %>
</head>
<body>
 <% projects.forEach(function(item){ %>
    <div class="cards-container"> 
    <%if (item.id === ID){%>
    <h1><%=item.title %></h1>
    <img src="<%=item.image %>" alt="Game Image">
    <h2><%=item.description %></h2>
    <p> Technologies: <%=item.technologies %></p>
    <p>Features: <%=item.features %>
    <p>Status: <%=item.status %></p>
    <p>Reflection: <%=item.reflection %></p>

     <%}%>
    </div>
    <% }) %>

    
</body>
</html>