<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <%- include('./partials/nav') %>
</head>
<body>
   
    <% skills.forEach(function(item){ %>
    <div class="cards-container"> 
    <%='Skill ID: ' + item.id %>
    <br/>
    <%='Skill Name: ' + item.name %>
    <br/>
    <%='Skill Category: ' + item.category %>
    <br/>
    <%='Skill Level: ' + item.level %>
    <br/>
    <%=' Skill Description: ' + item.description %>
    </div>
    <% }) %>

    
</body>
</html>